<div class="top">
    <a href="/">
        <span><span class="glyphicon glyphicon-home" style="color: red"></span> 商城首页</span>
    </a>
    <span>欢迎来到91成人商城</span>
    {% if user.is_authenticated %}
        <span>{{ user.username }}</span>
        <a href="{% url 'logout' %}">退出</a>
    {% else %}
        <a href="{% url 'login' %}">登录</a>
        <a href="#">注册</a>
    {% endif %}

        <a href="#" class="order">我的订单</a>
        <a href="#" id="car"> <span class="glyphicon glyphicon-shopping-cart"></span>购物车
        {% if user.is_authenticated %} <span id="car_number">0</span>件 {% endif %}
        </a>
</div>